<div class="w-100 h-100">

    <div class="row">

        <div class="col border border-1">
        </div>

        <div class="col-5 border border-1 p-0" style="height:872px; width:835px;">

            <div class="row m-0">
                <div class="col-6 p-0" style="height:32px;">
                    <span style="margin-left:23px; font-size:21px; font-family:'Playfair Display', sans-serif;">Title</span>
                </div>

                <div class="col p-0 text-center" style="height:32px; margin-left:15px;">
                    <span style="font-size:21px; font-family:'Playfair Display', sans-serif;">Posted</span>
                </div>

                <div class="col p-0 text-center" style="height:32px; border:0px; border-right:1px; border-left:1px; border-style:solid; border-color:#D2D2D2;">
                    <span style="font-size:21px; font-family:'Playfair Display', sans-serif;">Type</span>
                </div>

                <div class="col p-0 text-center" style="height:32px; margin-right:15px;">
                    <span style="font-size:21px; font-family:'Playfair Display', sans-serif;">Rated</span>
                </div>
            </div>

            <div class="d-flex align-items-end border border-1">

                <div class="row m-0 d-flex justify-content-center pt-2" style="width:835px; padding-bottom:19px; border:0px; border-right:1px; border-left:1px; border-style:solid; border-color:#A9A7A7;">

                    
                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">5 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>
                        </div>
                    </button>
                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">12 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">Text</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">25 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>

                        </div>
                    </button>
                </div>

            </div>
            
        </div>      

        <div class="col border border-1">
        </div>
    </div>

</div>