<div class="w-100 h-100">

    <div class="row">

        <div class="col border border-1 p-0 mb-5">

            <div class="row m-0">
                @* Filter *@
                <div class="col d-flex justify-content-center border border-1" style="margin-top:30px;">

                    <div class="border border-1">

                        <div class="col">
                            <div class="mb-1">
                                <span>Type</span>
                            </div>

                            <div class="mb-2">
                                <div class="btn-group">
                                    <button class="btn border border-1 dropdown-toggle" style="width:200px;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-1">
                                <span>Sorted by</span>
                            </div>

                            <div class="mb-2">
                                <div class="btn-group">
                                    <button class="btn border border-1 dropdown-toggle" style="width:200px;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-1">
                                <span>Category</span>
                            </div>

                            <div class="mb-2">
                                <div class="btn-group">
                                    <button class="btn border border-1 dropdown-toggle" style="width:200px;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                        <li><a class="dropdown-item" href="#">Menu item</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
               @*  Top rated pasts *@
                <div class="col d-flex justify-content-center border border-1">

                    <div style="margin-left:75px;">
                        <span style="font-size:24px; margin-left:45px; font-family:'Playfair Display', sans-serif;">Top Rated Pasts</span>
                        <div class="row m-0 d-flex justify-content-center pt-3" style="width:85%; min-width:320px; max-width:446px; border-radius:33px; border:1px; border-style:solid; border-color:#767373;">

                            <button class="btn p-0" style="height:57px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                                <div class="row" style="min-height:20px; margin-left:19px;">

                                    <div class="col-6 d-flex justify-content-start p-0">
                                        <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                    </div>
                                </div>
                            </button>

                            <button class="btn p-0" style="height:57px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                                <div class="row" style="min-height:20px; margin-left:19px;">

                                    <div class="col-6 d-flex justify-content-start p-0">
                                        <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                    </div>
                                </div>
                            </button>

                            <button class="btn p-0" style="height:57px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                                <div class="row" style="min-height:20px; margin-left:19px;">

                                    <div class="col-6 d-flex justify-content-start p-0">
                                        <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                    </div>
                                </div>
                            </button>

                            <button class="btn p-0" style="height:57px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                                <div class="row" style="min-height:20px; margin-left:19px;">

                                    <div class="col-6 d-flex justify-content-start p-0">
                                        <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                    </div>
                                </div>
                            </button>

                            <button class="btn p-0" style="height:57px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                                <div class="row" style="min-height:20px; margin-left:19px;">

                                    <div class="col-6 d-flex justify-content-start p-0">
                                        <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                                    </div>

                                    <div class="col p-0">
                                        <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @* Public pasts *@
        <div class="col-5 border border-1 p-0" style="width:835px;">

            @* Title *@
            <div class="row m-0">
                <div class="col-6 p-0" style="height:32px;">
                    <span style="margin-left:23px; font-size:21px; font-family:'Playfair Display', sans-serif;">Title</span>
                </div>

                <div class="col p-0 text-center" style="height:32px; margin-left:15px;">
                    <span style="font-size:21px; font-family:'Playfair Display', sans-serif;">Posted</span>
                </div>

                <div class="col p-0 text-center" style="height:32px; border:0px; border-right:1px; border-left:1px; border-style:solid; border-color:#D2D2D2;">
                    <span style="font-size:21px; font-family:'Playfair Display', sans-serif;">Type</span>
                </div>

                <div class="col p-0 text-center" style="height:32px; margin-right:15px;">
                    <span style="font-size:21px; font-family:'Playfair Display', sans-serif;">Rate</span>
                </div>
            </div>

            @*Public pasts*@
            <div class="d-flex align-items-end border border-1">

                <div class="row m-0 d-flex justify-content-center pt-2" style="/* width:835px; */ padding-bottom:19px; border:0px; border-right:1px; border-left:1px; border-style:solid; border-color:#A9A7A7;">

                    
                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">5 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>
                        </div>
                    </button>
                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">12 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">Text</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">25 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>

                        </div>
                    </button>
                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">12 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">Text</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">25 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>

                        </div>
                    </button>
                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">12 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">Text</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">25 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>

                        </div>
                    </button>
                </div>

            </div>
            
        </div>      
        @* My pasts *@
        <div class="col border border-1">
            @*<header style="margin-left:75px;">
                <span style="font-size:24px; font-family:'Playfair Display', sans-serif;">My Pasts</span>
            </header>

            <div class="d-flex justify-content-center border border-1">
                <div class="row m-0 d-flex justify-content-center pt-3" style="width:85%; min-width:320px; max-width:446px; border-radius:33px; border:1px; border-style:solid; border-color:#767373;">

                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">5 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>
                        </div>
                    </button>

                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">5 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>
                        </div>
                    </button>

                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">5 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>
                        </div>
                    </button>

                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">5 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>
                        </div>
                    </button>

                    <button class="btn p-0" style="height:67px; max-width:96%; margin-bottom:14px; background-color:#fff; border:1px; border-style:solid; border-color:#989696; border-radius:15px;">

                        <div class="row" style="min-height:20px; margin-left:19px;">

                            <div class="col-6 d-flex justify-content-start p-0">
                                <span style="font-size:20px; font-family:'Inter', sans-serif; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Nulla facilisi cras fermentum odio eu feugiat...</span>
                            </div>

                            <div class="col p-0">
                                <span style="font-size:18px; font-family:'Inter', sans-serif;">5 h. ago</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-2" style="font-size:18px; font-family:'Inter', sans-serif;">C#</span>
                            </div>

                            <div class="col p-0">
                                <span class="pe-3" style="font-size:18px; font-family:'Inter', sans-serif;">5 <i class="fa-regular fa-thumbs-up ms-1"></i></span>
                            </div>
                        </div>
                    </button>
                </div>

            </div>*@
        </div> 
    </div>

</div>