@model CreatePasteVM

<div class="h-100 w-100">
    <form asp-controller="Paste" method="post" onsubmit="return validateForm();">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row mt-4">
            @* Body *@
            <div class="col text-menu order-md-2">

                <div class="mb-1 ms-2 d-flex">
                    <span class="filter-text">Title</span>
                </div>

                <span asp-validation-for="PasteVM.Title" class="text-danger"></span>

                <div class="mb-3">
                    <div class="input-group input-group-sm mb-3 title_input">
                        <input asp-for="PasteVM.Title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

                <span asp-validation-for="PasteVM.Body" class="text-danger"></span>

                <div class="mb-3 bg-white">
                    <div>
                        <textarea asp-for="PasteVM.Body" class="form-control summernote text-menu"></textarea>
                    </div>
                </div>

            </div>
            @* Filter *@
            <div class="col-3 type-menu order-md-1 mt-md-5 mt-4 d-flex">

                <div class="col flex-fill create-filter">

                    <div class="mb-1">
                        <span class="filter-text">Type</span>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" asp-for="PasteVM.TypeId" asp-items="@Model.ContentTypes" aria-label="Default select example">
                        </select>
                    </div>

                    <div class="mb-1">
                        <span class="filter-text">Category</span>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" asp-for="PasteVM.CategoryId" asp-items="@Model.Categories" aria-label="Default select example">
                        </select>
                    </div>

                    <div class="mb-1">
                        <span class="filter-text">Access</span>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" asp-for="PasteVM.IsPublic" aria-label="Default select example" id="publicPrivateSelect">
                            <option value="true">Public</option>
                            <option value="false">Private</option>
                        </select>
                    </div>

                    <div class="mb-1">
                        <span class="filter-text">Life`s time</span>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" asp-for="PasteVM.ExpireType" aria-label="Default select example">
                            <option value="1">5 min</option>
                            <option value="2">10 min</option>
                            <option value="3">30 min</option>
                            <option value="4">1 hour</option>
                            <option value="5">1 day</option>
                            <option value="6">3 days</option>
                            <option value="7">30 days</option>
                        </select>
                    </div>

                    <div class="mb-1">
                        <span class="filter-text">Language</span>
                    </div>

                    <div class="mb-3">
                        <select class="form-select" asp-for="PasteVM.LanguageId" asp-items="@Model.Languages" aria-label="Default select example">
                        </select>
                    </div>

                    <div class="mb-1">
                        <span class="filter-text">Password</span>
                    </div>

                    <span asp-validation-for="PasteVM.Password" class="text-danger"></span>

                    <div class="mb-3">
                        <div class="d-flex position-relative input-group-sm mb-3">
                            <input asp-for=PasteVM.Password type="password" class="password form-control" id="passwordInput" disabled>
                            <i class="fa-solid fa-eye-slash show-password" id="togglePassword"></i>
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-auto">
                            <button class="btn ms-1 mb-2 create-paste-btn create-paste-btn_text" type="submit">Create Paste</button>
                        </div>

                        <div class="col-auto">
                            <a class="btn back-btn back-btn_text" type="submit" asp-controller="Home" asp-action="Index">Back</a>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function validateForm() {
            var isValid = true;
            var bodyValue = $('.summernote').val();
            if (!bodyValue) {
                isValid = false;
                $('span[data-valmsg-for="PasteVM.Body"]').text('The field is required.');
            } else {
                $('span[data-valmsg-for="PasteVM.Body"]').text('');
            }
            return isValid;
        }
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 600,
                minWidth: 1244,
                toolbar: [
                    //[groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']]
                ]
            });
        });

        function updatePasswordField() {
            var publicPrivateSelect = document.getElementById('publicPrivateSelect');
            var passwordInput = document.getElementById('passwordInput');
            var togglePassword = document.getElementById('togglePassword');

            if (publicPrivateSelect.value === 'false') {
                passwordInput.disabled = false;
                togglePassword.style.display = 'inline';
            } else {
                passwordInput.disabled = true;
                passwordInput.value = ''; // Clear the password field
                togglePassword.style.display = 'none';
            }
        }

        document.getElementById('publicPrivateSelect').addEventListener('change', updatePasswordField);

        document.addEventListener('DOMContentLoaded', updatePasswordField);

        document.addEventListener("DOMContentLoaded", function () {
            let togglePassword = document.getElementById("togglePassword");
            let passwordInput = document.getElementById("passwordInput");

            togglePassword.onclick = function () {
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    togglePassword.classList.remove("fa-eye-slash");
                    togglePassword.classList.add("fa-eye");
                } else {
                    passwordInput.type = "password";
                    togglePassword.classList.remove("fa-eye");
                    togglePassword.classList.add("fa-eye-slash");
                }
            }
        });
    </script>
}
