@model PasswordVM

<div class="container h-100 w-100 d-flex justify-content-center">

    <form method="post" asp-action="Password" class="border border-1 w-50 p-2 mt-4">

        <input value="@Model.PasteId" asp-for="PasteId" hidden/>

        <div class="form-group row text-center mb-4">
            <h2 class="text-info ps-4">Enter Password</h2>
        </div>

        <div class="mb-3 ps-3">

            <input asp-for="Password" class="form-control mb-3 w-75 mt-1" />

            <div>
                <button type="submit" class="btn method-btn method-btn_create me-md-3 me-1">Send</button>
                <a asp-controller="Home" asp-action="Index" class="btn create-back-btn">Back</a>
            </div>

        </div>

    </form>

</div>