<div class="w-100 h-100">
    <div class="row">

        @* Change Your Profile *@
        <div class="col ms-md-5 d-flex justify-content-start me-5">

            <div class="ms-md-5">

                <span class="profile-title">My Profile</span>

                <div class="row">

                    @* Avatar *@
                    <div class="col">
                        <div class="avatar mt-5 mb-2 d-flex justify-content-center align-items-center p-0">
                            <button class="btn btn-outline-light edit-img-btn">
                                <i class="fa-regular fa-image"></i>
                            </button>
                        </div>
                    </div>

                    @* Info *@
                    <div class="col-xl-7 col-md-12 p-0 mt-5 mb-5">

                        <div class="row person-info flex-nowrap mb-4">

                            <div class="col person-info__block">
                                <span>Name</span>
                            </div>

                            <div class="col-8 ms-2">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Vlad">
                            </div>

                        </div>

                        <div class="row person-info flex-nowrap mb-4">

                            <div class="col person-info__block">
                                <span>Last name</span>
                            </div>

                            <div class="col-8 ms-2">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Kolesnikov">
                            </div>

                        </div>

                        <div class="row person-info flex-nowrap mb-4">

                            <div class="col person-info__block">
                                <span>Email</span>
                            </div>

                            <div class="col-8 ms-2">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="morpexx08@gmail.com">
                            </div>

                        </div>

                        <div class="row person-info flex-nowrap mb-4">

                            <div class="col person-info__block">
                                <span>City</span>
                            </div>

                            <div class="col-8 ms-2">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Cherkasy">
                            </div>

                        </div>

                        <button class="btn person-info__edit-btn mt-2" type="submit">Save</button>

                    </div>

                </div>

            </div>

        </div>

        @* Change Your Password *@
        <div class="col-md-7">

            <div class="ms-md-5">

                <span class="profile-title">Change Your Password</span>

                <div class="mt-5 change-password">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">New Password</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Repeat Password</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>

                    <button class="btn person-info__edit-btn" type="submit">Save</button>

                </div>

            </div>

        </div>

    </div>
</div>