@model GetCommentsVM

<form asp-controller="Comment" asp-action="Comments" method="get">

    <div class="d-flex justify-content-center">
        <div>

            <div class="d-flex justify-content-between mb-1">
                <div>
                    <label class="form-label filter-text ms-2mb-2">Comments</label>
                </div>
                <div>
                    <a class="btn my-pasts__title__btn-create-paste" href="@Model.ReturnUrl">Back to Paste</a>
                </div>
            </div>

            <div class="bg-white comments p-2">

                @foreach (var item in Model.Comments)
                {
                    <div class="row">
                        <label class="filter-text ms-2">@item.UserName</label>
                        <div class="comments-item">
                            @item.Body
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>