<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PasteBinClone.Web</title>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PasteBinClone.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3" style="height:80px; background-color:#EEF9FC; border:1px; border-style:solid; border-color:#BAB9B9;">
            <div class="container-fluid d-flex justify-content-md-center">

                <span class="navbar-brand" style="font-size:36px; font-family:'Inria Serif', sans-serif;">PasteBin</span>

                <div class="position-absolute top-50 end-0 translate-middle-y me-3">
                    <button class="btn" type="submit" style="margin-right:7px; height:40px; width:113px; font-size:18px; font-family:'K2D', sans-serif; color:#7D7D7D; background-color:#fff; border:1px; border-style:solid; border-color:#A5A3A3; border-radius:10px;">LOG IN</button>
                    <button class="btn" type="submit" style="margin-right:7px; height:40px; width:113px; font-size:16px; font-family:'K2D', sans-serif; color:#fff; background-color:#313131; border-radius:10px;">SIGN UP</button>
                </div>

            </div>            
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PasteBinClone.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
