<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PasteBinClone.Web</title>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PasteBinClone.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-background">
            <div class="container-fluid d-flex justify-content-md-center">

                <a class="navbar-brand navbar-brand-text-style text-decoration-none text-dark" asp-controller="Home" asp-action="Index">PasteBin</a>

                <div class="position-absolute top-50 end-0 translate-middle-y me-3">
                    <div class="navbar-nav ms-auto">
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="navbar__button-admin nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="color:#7D7D7D;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin menu
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Category</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Type" asp-action="Index">Type</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Language" asp-action="Index">Language</a></li>
                                </ul>
                            </div>
                        } 
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span style="font-size:20px">@User.Identity.Name</span>
                            <a class="btn btn-outline-secondary navbar__button navbar__button-signup" asp-action="Logout" asp-controller="Home">LOG OUT</a>
                        }
                        else
                        {
                            <a class="btn navbar__button navbar__button-login" asp-action="Login" asp-controller="Home">LOG IN</a>
                            <a class="btn btn-outline-secondary navbar__button navbar__button-signup" asp-action="Signup" asp-controller="Home">SIGN UP</a>
                        }
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PasteBinClone.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/cc9056737c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
