@model RatingVM

<form method="post" asp-controller="Rating" asp-action="Create">

    <div class="row mb-5 mt-1">

        <input type="hidden" name="PasteId" value="@Model.PasteId" />

        <div class="col-auto row ms-2 d-flex align-items-center">
            <span class="col roboto-regular p-2 text-center">@Model.Likes</span>

            @if (Model.CurrentIsLiked)
            {
                <button class="btn btn-secondary col ms-2 like-btn p-2" type="submit" name="IsLiked" value="true">
                    <i class="fa-regular fa-thumbs-up"></i>
                </button>
            }
            else
            {
                <button class="btn col ms-2 like-btn btn-outline-secondary p-2" type="submit" name="IsLiked" value="true">
                    <i class="fa-regular fa-thumbs-up"></i>
                </button>
            }
        </div>

        <div class="col-auto row ms-2 d-flex align-items-center">
            <span class="col roboto-regular p-2 text-center">@Model.Dislikes</span>

            @if (Model.CurrentIsDisliked)
            {
                <button class="btn btn-secondary col ms-2 dislike-btn p-2" type="submit" name="IsDisliked" value="true">
                    <i class="fa-regular fa-thumbs-down"></i>
                </button>
            }
            else
            {
                <button class="btn col ms-2 dislike-btn btn-outline-secondary p-2" type="submit" name="IsDisliked" value="true">
                    <i class="fa-regular fa-thumbs-down"></i>
                </button>
            }
        </div>
    </div>

</form>
