html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

textarea[readonly] {
    background-color: #e9ecef; 
    cursor: not-allowed;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FAFAFA;
    min-width: 450px;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-display{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*=========================== HEADER ===========================*/

.navbar-background {
    margin-bottom: 25px;
    height: 80px;
    background-color: #EEF9FC;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #BAB9B9;
}

.navbar-brand-text-style {
    font-size: 36px;
    font-family: 'Inria Serif', sans-serif;
}

.navbar__button {
    margin-right: 7px;
    height: 40px;
    width: 113px;
}

.navbar__button-login {
    font-size: 18px;
    font-family: 'K2D', sans-serif;
    color: #7D7D7D;
    background-color: #fff;
    border: 1px;
    border-style: solid;
    border-color: #A5A3A3;
    border-radius: 10px;
}

.navbar__button-signup {
    font-size: 16px;
    font-family: 'K2D', sans-serif;
    color: #fff;
    background-color: #313131;
    border-radius: 10px;
}

.navbar__button-admin {
    margin-right: 7px;
    height: 40px;
    max-width: 150px;
    font-size: 18px;
    font-family: 'K2D', sans-serif;
    color: #7D7D7D;
    background-color: #fff;
    border: 1px;
    border-style: solid;
    border-color: #A5A3A3;
    border-radius: 10px;
}

/*=========================== Main page Filter ===========================*/

.filter {
    margin-top: 30px;
    margin-left: 20px;
}
.filter_dropdown_width {
    width: 200px;
}

.filter-text {
    font-size: 18px;
    font-family: 'Playfair Display', sans-serif;
}
.filter-select {
    max-width: 190px;
    min-width: 180px;
}

/*=========================== Main page Top Rated Pasts ===========================*/

.top-rated-pasts {
    margin-left: 75px;
}

.top-rated-pasts__title {
    font-size: 24px;
    margin-left: 45px;
    font-family: 'Playfair Display', sans-serif;
}
.top-rated-pasts__block {
    width: 85%;
    min-width: 320px;
    max-width: 446px;
    padding-bottom: 12px;
    border-radius: 33px;
    border: 1px;
    border-style: solid;
    border-color: #767373;
}

.past-item_size_small {
    height: 57px;
}

/*=========================== Main page Body ===========================*/

.public-pasts {
    width: 835px;
}

.public-pasts__title-item {
    height: 32px;
}

.title-item_margin-l {
    margin-left: 15px;
}

.title-item_margin-r {
    margin-right: 15px;
}

.title-item_border {
    border: 0px;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #D2D2D2;
}

.title-item__text {
    font-size: 20px;
    font-family: 'Playfair Display', sans-serif;
}

.title-item__text_margin {
    margin-left: 23px;
}

.body-block {
    padding-bottom: 19px;
    border: 0px;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #A9A7A7;
}

.past-item {
    max-width: 96%;
    margin-bottom: 14px;
    background-color: #fff;
    border: 1px;
    border-style: solid;
    border-color: #989696;
    border-radius: 15px;
}

.past-item_size_big {
    height: 67px;
}

.past-item__content {
    min-height: 20px;
    margin-left: 19px;
}

.past-item__content__title {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.past-item__list__empty {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}

.past-item__content__type-rate {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

/*=========================== Main page My Pasts ===========================*/

.my-pasts {
    margin-left: 20px;
    margin-top: 20px;
}

.my-pasts__title {
    height: 40px;
}

.my-pasts__title_margin-r {
    margin-right: 32px;
}

.my-pasts__title__text {
    font-size: 24px;
    margin-left: 45px;
    font-family: 'Playfair Display', sans-serif;
}

.my-pasts__title__btn-all {
    height: 37px;
    width: 73px;
    margin-left: 25px;
    font-size: 16px;
    font-family: 'K2D', sans-serif;
    color: #000;
    background-color: #DAF1F8;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
    border-radius: 10px;
}

.my-pasts__title__btn-create-paste {
    height: 37px;
    width: 142px;
    font-size: 16px;
    font-family: 'K2D', sans-serif;
    color: #000;
    background-color: #DAF1F8;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
    border-radius: 10px;
}

.my-pasts__body {
    width: 95%;
    min-width: 370px;
    max-width: 480px;
    padding-bottom: 14px;
    border-radius: 15px;
    border: 1px;
    border-style: solid;
    border-color: #767373;
}

/*=========================== Create Pasts Filter ===========================*/


.type-menu {
    margin-left: 70px;
    margin-right: 95px;
    max-width: 400px;
    min-width: 280px;
}

.create-filter{
    min-width:200px;
}

.create-paste-btn {
    height: 37px;
    width: 132px;
    background-color: #53EC74;
    border-radius: 7px;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
}

.delete-paste-btn {
    height: 37px;
    width: 132px;
    background-color: #53EC74;
    border-radius: 7px;
    border: 1px;
    border-style: solid;
    background-color: #ff5e5e;
}

.create-paste-btn_text {
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}

.back-btn {
    height: 37px;
    width: 105px;
    background-color: #E8EDE9;
    border-radius: 7px;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
}
.back-btn_text {
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}

.show-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

.password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 16px;
    box-sizing: border-box;
}

/*=========================== Create Pasts Body ===========================*/

.title_input {
    height: 39px;
    width: 65%;
    min-width: 200px;
}

.text-menu {
    max-width: 1244px;
}

.href-txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}


/*=========================== Details ===========================*/

.details-body {
    height: 65vh;
    min-width: 60vw;
    border: 1px;
    border-style: solid;
    border-color: #989898;
    overflow: auto;
}

.private {
    color: #D22D2D;
}

.public {
    color: #2A9428;
}

.like-btn, .dislike-btn {
    height: 33px;
    max-width: 33px;
    margin-left: 15px;
    border:0px;
    border-radius: 5px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}

.dislike-btn i {
    transform: scaleX(-1);        
}

.share-btn, .report-btn {
    height: 37px;
    max-width: 110px;
    margin-left: 25px;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
    border-radius: 7px;
    font-size: 18px;
}

.comment-btn {
    height: 37px;
    border: 1px;
    border-style: solid;
    background-color: #FAFAFA;
    border-color: #D8D8D8;
    border-radius: 7px;
    font-size: 18px;
}

.comments {
    height: auto;
    min-width: 60vw;
    max-width:500px;
    border: 1px;
    border-style: solid;
    border-color: #989898;
    overflow: auto;
}

.comments-item {
    min-height: 70px;
    width: 70%;
    max-height: 300px;
    margin-bottom: 14px;
    margin-left: 14px;
    background-color: #fff;
    border: 1px;
    border-style: solid;
    border-color: #d1d1d1;
    border-radius: 15px;
    overflow: auto;
    overflow-y: auto;
    word-break: break-word;
}

/*=========================== Profile ===========================*/


.profile-title {
    font-size: 40px;
    font-family: 'Playfair Display', sans-serif;
}

.avatar {
    height: 200px;
    width: 200px;
    border: 1px;
    border-style: solid;
    border-color: #989898;
}

.avatar__mini {
    height: 150px;
    width: 150px;
    border: 1px;
    border-style: solid;
    border-color: #989898;
}

.person-info {
    font-size: 20px;
    font-family: 'Playfair Display', sans-serif;
    max-height: 20px;
    padding-left: 10px;
}

.person-info__block {
    min-width:130px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 1px solid #D2D2D2;
}

.person-info__edit-btn {
    height: 40px;
    width: 90px;
    background-color: #B6EBF6;
    border: 1px;
    border-style: solid;
    border-color: #A3A4A5;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'K2D', sans-serif;
}

.my-pasts_size {
    width: 95%;
    min-width: 630px;
    max-width: 930px;
}

.person-info-my-pasts {
    padding-bottom: 14px;
    border-radius: 15px;
    border: 1px;
    border-style: solid;
    border-color: #767373;
}

/*=========================== Profile Edit ===========================*/

.edit-img-btn{
    height: 60px;
    max-width: 60px;
    border: 0px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #cccccc;
}

.change-password {
    max-width: 300px;
    font-size: 18px;
    font-family: 'Playfair Display', sans-serif;
    max-height: 20px;
}

/*=========================== Filter Index ===========================*/

.table-filter{
    width:75%;
}

.create-back-btn {
    height: 37px;
    width: 90px;
    background-color: #cee5df;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}

.method-btn {
    height: 37px;
    width: 112px;
    border-radius: 7px;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
    font-size: 16px;
    font-family: 'K2D', sans-serif;
}

.method-btn_create {
    background-color: #10c7f8;
}

.category-edit-btn{
    min-width: 35px;
}

.method-btn_delete {
    background-color: #ff5e5e;
}

.edit-btn {
    height: 37px;
    width: 80px;
    border-radius: 7px;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
    font-size: 18px;
    text-align: center;
    background-color: #2ea2f0;
}

.delete-btn {
    height: 37px;
    width: 80px;
    border-radius: 7px;
    border: 1px;
    border-style: solid;
    border-color: #D8D8D8;
    font-size: 18px;
    text-align: center;
}