<div class="container h-100 w-100 d-flex justify-content-center">

    <form class="border border-1 w-50 p-2 mt-4">

        <div class="form-group row text-center mb-4">
            <h2 class="text-info ps-4">Add Category</h2>
        </div>

        <div class="mb-3 ps-3">

            <h6 class="form-label">Name</h6>
            <input class="form-control mb-3 w-75">

            <button type="submit" class="btn create-category-btn create-paste-btn_text me-md-3 me-1">Create</button>
            <button type="submit" class="btn create-back-btn">Back</button>

        </div>

    </form>

</div>